* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about {
  padding: 10px;
}

.about .container {
  width: 80%;
  margin: auto;
}

.about .about-content {
  float: left;
  width: 50%;
}

.about .about-content h1 {
  text-transform: capitalize;
  color: #7358eb;
  font-size: 30px;
}

.about .about-content p {
  color: #8b8a8b;
  padding: 20px 0;
}

.about .about-content button {
  width: 140px;
  text-align: center;
  padding: 15px;
  background-image: -webkit-gradient(linear, left top, right top, from(blue), to(#a14af3));
  background-image: linear-gradient(to right, blue, #a14af3);
  color: #fff;
  border-radius: 55px;
  border: none;
}

.about .about-img {
  float: right;
  width: 50%;
  padding-left: 50px;
}

.about .about-img img {
  width: 80%;
}
/*# sourceMappingURL=about.component.css.map */