*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.about{
    padding: 10px;
    .container{
        width: 80%;
        margin: auto;
    }
    .about-content{
        float: left;
        width: 50%;
        h1{
            text-transform: capitalize;
            color: rgb(115, 88, 235);
            font-size: 30px;
        }
        p{
            color: rgb(139, 138, 139);
           padding: 20px 0;
        }
        button{
            width: 140px;
            text-align: center;
            padding: 15px;
            background-image: linear-gradient(to right,blue,rgb(161, 74, 243));
            color: #fff;
            border-radius: 55px;
            border: none;
        }
    }
    .about-img{
        float: right;
        width: 50%;
        padding-left: 50px;
         img{
         width: 80%;
         }
    }
}